html,
body {
  height: 100%;
  @extend %Medium;
  color: $white;
  // position: relative;
  // overflow-x: hidden;
  margin: 0 auto;
  background-color: $background;
  font-size: 16px;
}

body.menu-opened {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 140px;
}

.section{
  padding: 50px 0;
}
.title{
    @extend %Bold;
    font-size: 64px;
    line-height: 70px;
    // line-height: 49px;
    // padding: 0px 35px;
    // border-bottom: 2px solid $blue;
    // text-align: center;
    // margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: $white;
    max-width: fit-content;
}
.global-btn {
  padding: 12px 40px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3), -3px -3px 3px 0 rgba(161, 180, 204, 0.3), inset 3px 3px 3px 0 rgba(0, 0, 0, 0.3), inset -3px -3px 3px 0 rgba(161, 180, 204, 0.3);
  background-color: $background;
  transition: all .3s;
  width: fit-content;
  cursor: pointer;

  &:hover {
    // box-shadow: 0 0 10px 0 #fff;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3), -3px -3px 3px 0 rgba(171, 207, 255, 0.4), inset 3px 3px 3px 0 rgba(0, 0, 0, 0.3), inset -3px -3px 3px 0 rgba(171, 207, 255, 0.4);
    // box-shadow: 0 0 10px 0 $contrast;
    color: $contrast;
    // text-shadow: 3px 3px 1px #000;
  }
}


.slick-prev {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0px;
  z-index: 1;
}

.slick-next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0px;
  z-index: 1;
}

.slick-arrow {
  cursor: pointer;
  background-color: transparent;
  border: none;

  .arrow__wrapper {
    img {
      width: 38px;
      height: 67px;
    }
  }
}

.slick-dots {
  text-align: center;
  display: flex;
  justify-content: center;
  list-style: none;

  button {
    border: 1px solid $white;
    border-radius: 2px;
    height: 10px;
    width: 15px;
    margin: 20px 6px;
    font-size: 0;
    margin-bottom: 0;
    cursor: pointer;
    background-color: transparent;
  } 
}

.slick-dots li[class="slick-active"] button {
  background-color: $white;
  width: 40px;
}

.global-reviews__wrapper {
  position: relative;
  // padding: 0 100px;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;

}