@media(max-width: 1850px) {
  .menu__btn {
    display: block;
  }

  .mob-menu {
    display: block;
  }

  .mob-menu__contacts-link {
    margin-bottom: 30px;
  }

  .nav {
    display: none;
    z-index: 3;

    &.active {
      position: fixed;
      top: 0px;
      right: 0;
      max-width: 500px;
      width: 100%;
      bottom: 0;
      background-color: $background;
      display: flex;
      align-content: space-between;
      flex-wrap: wrap;
      padding: 100px 150px 40px 70px;
      // overflow-y: scroll;
      height: 100%;
      overflow-y: auto;

      .menu-wrapper {
        width: 100%;
      }

      .menu-list {
        margin-bottom: 20px;

        +.menu-list {
          display: block;
          margin-left: 0;

        }
      }
    }
  }

  .header__contants {
    margin-left: auto;
    margin-right: 30px;
  }

  .menu-list__link-drop {
    &:hover {
      padding-top: 0px;
      padding-left: 0px;

    }

    &::before {
      display: none;
    }
  }

  .menu-list__link-menu {
    display: block;
    position: inherit;
    left: 0;
    padding-top: 20px !important;
    padding-left: 20px !important;
  }

  .mob-menu {
    .social {
      margin-bottom: 20px;
    }
  }
}

@media(max-width: 1600px) {
  .header {
    padding: 15px 0;
  }

  .main-screen {
    margin-top: 74px;
  }

  .container {
    padding: 0 100px;
  }

  .main-screen__title {
    font-size: 80px;
    line-height: 96px;
  }

  .adv__inner {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .product__wrapper {
    flex-wrap: wrap;
  }

  .product__box {
    order: -1;
    margin: 0;
    margin-bottom: 30px;
  }

  .slider-for {
    margin: 0 auto;
  }




}

@media(max-width: 1500px) {
  .reviews__item {
    max-width: 1000px;
  }
}

@media(max-width: 1400px) {
  .title {
    font-size: 48px;
    line-height: 58px;
  }

  .container {
    padding: 0 80px;
  }

  .main-screen {
    background-size: cover;
    background-position: top left;
  }

  .main-services-bg {
    padding: 30px;
  }

  .main-services__title {
    font-size: 40px;
    line-height: 40px;
  }

  .main-services__number {
    img {
      height: 100px;
    }
  }

  .main-company {
    .container {

      &::before {
        width: 730px;
        height: 180px;
      }
    }
  }

  .main-contacts__item {
    iframe {
      width: 500px;
      height: 350px;
    }
  }
}

@media(max-width: 1300px) {
  .reviews__item {
    max-width: 900px;
  }

  .reviews__img {
    max-width: 400px;
  }

  .reviews__box {
    padding-left: 0;
  }
}

@media(max-width: 1200px) {
  .nav.active {
    padding: 80px 150px 40px 70px;
  }

  .main-screen__title {
    font-size: 70px;
    line-height: 88px;
  }

  .main-screen__subtitle {
    font-size: 18px;
  }

  .main-services__item {
    height: 350px;
  }

  .main-services__item-big {
    height: 100%;
  }

  .main-services__number {
    img {
      height: 80px;
    }
  }

  .main-services__title {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 5px;
  }

  .reviews__item {
    max-width: 800px;
    // height: 240px;
  }

}

@media(max-width: 1100px) {
  .container {
    padding: 0 60px;
  }

  .main-services__item {
    height: 300px;
  }

  .main-services__item-big {
    height: 100%;
  }

  .main-company__title {
    padding-top: 200px;
  }

  .slider-nav__wrapper {
    padding: 0;
  }

  .slick-prev {
    display: none !important;
  }

  .slick-next {
    display: none !important;
  }

  .product1-img {
    width: 650px;
    height: 387px;
  }

  .partners__item {
    max-width: 220px;
    width: 100%;
    height: 131px;

    // margin: 0 20px;
    img {
      max-width: 220px;
      width: 100%;
      height: 131px;

    }
  }

  .reviews__slider {
    margin: 0 10px;
  }

  .reviews__text {
    padding-right: 15px;
  }

  .reviews__item {
    max-width: 100%;
  }

  .main-contacts__inner {
    flex-wrap: wrap;
  }

  .main-contacts__item-map {
    display: flex;
    justify-content: center;
  }

  .main-contacts__item {
    width: 100%;

    iframe {
      width: 100%;
      height: 350px;
    }
  }
}

@media(max-width: 1000px) {
  .offer__body {
    width: 100%;
  }

  .offer__content {
    margin-bottom: 30px;
  }

  .offer__imeage {
    padding: 0 20px;
  }

  .offer__imeage img {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    object-fit: contain;
    // margin-left: auto;
  }
}


@media(max-width: 900px) {
  .main-screen__title {
    font-size: 64px;
    line-height: 80px;
  }

  .main-services__inner {
    grid-template-columns: 1fr;
    grid-template-rows: 6fr;
  }

  .main-services__item {
    background-size: cover;
    height: fit-content;

    &:hover {
      background-size: cover;
    }
  }

  .main-services__number {
    img {
      height: 60px;
    }
  }

  .title {
    font-size: 36px;
    line-height: 40px;
  }

  .partners__item {
    max-width: 210px;
    width: 100%;
    height: 120px;
    margin-bottom: 0px;

    img {
      max-width: 210px;
      width: 100%;
      height: 120px;

    }
  }

  .questions__item {
    padding: 20px;
  }

  .reviews__item {
    flex-wrap: wrap;
  }

  .reviews__box {
    margin-bottom: 20px;
    // margin-right: 0;
    padding-right: 0;
  }

  .reviews__name {
    margin-bottom: 20px;
  }

  .reviews__img {
    max-width: 100%;
    width: 100%;
    height: 300px;
    margin-left: 0;
  }

  .reviews__item {
    height: 500px;
  }

  .reviews__text {
    height: 100px;
    overflow-y: auto;
  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 40px;
  }

  .header__logo {
    width: 145px;
    height: 46px;
  }

  .main-screen__title {
    font-size: 56px;
    line-height: 68px;
    letter-spacing: -4px;
  }

  .main-company {
    .container {

      &::before {
        width: 100%;
      }
    }
  }

  .adv__inner {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .adv__item {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  .request__wrapper {
    flex-wrap: wrap;
  }

  .request__items-input {
    padding: 20px 20px;
  }

  .request__item {
    margin-left: 0;
    margin-right: 0;
  }
}

@media(max-width: 700px) {
  .header__contants {
    .social {
      display: none;
    }
  }

  .product2-img {
    max-width: 200px;
    height: 126px;
  }
}

@media(max-width: 600px) {
  .section {
    padding: 30px 0;
  }

  .global-btn {
    padding: 12px 20px;
  }

  .container {
    padding: 0 15px;
  }

  .main-screen__subtitle {
    font-size: 16px;
  }

  .header__logo {
    width: 100px;
    margin-right: 0;
  }

  .header__contants {
    margin-right: 15px;
  }

  .main-screen__title {
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -3px;
  }

  .menu-list {
    width: fit-content;
  }

  .main-services__number {
    img {
      height: 40px;
    }
  }

  .main-services-bg {
    padding: 20px;
  }

  .main-company__title {
    padding-top: 160px;
  }

  .main-company.section {
    padding-top: 0;
  }

  .product1-img {
    width: 100%;
    height: 240px;
  }

  .reviews__text {
    height: 150px;
  }

  .reviews__img {
    height: auto;
    // max-width: 300px;
    // margin: 0 auto;
  }

  .reviews__item {
    height: fit-content;
  }

}

@media(max-width: 500px) {
  .product2-img {
    max-width: 150px;
    height: 100px;
  }
}

@media(max-width: 400px) {
  .header {
    padding: 10px 0;
  }

  .global-btn {
    padding: 10px 14px;
  }

  // .header__contants {
  //   display: none;
  // }

  .nav.active {
    padding: 40px 40px 40px 40px;
  }

  .menu-wrapper {
    margin-bottom: 40px;
  }

  .main-screen {
    margin-top: 0;
  }

  .main-services__title {
    font-size: 24px;
    line-height: 26px;
  }

  .main-company__title {
    padding-top: 140px;
  }
}

.adv__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.adv__item {
  text-align: center;
  margin-bottom: 50px;
}