%Bold {
  font-family: 'OpenSans-Bold', sans-serif;
  display: swap;
}

%Medium {
  font-family: 'Montserrat-Medium', sans-serif;
  display: swap;
}
%Regular {
  font-family: 'Montserrat-Regular', sans-serif;
  display: swap;
}



$blue: #A1B4CC;
// $contrast: #FFA420;
// $contrast: #95d5f5;
$contrast: rgb(171, 207, 255);
$white: #F5F5F5;
$background: rgb(33, 59, 94);
$tg: #24A1DE;
$wh: #2cb742;
// $line: #BCB3A9;

// @mixin border {
//   background: linear-gradient(90deg, #1c3748 0%, #00fffb 50%, #1c3748 100%);
// }