@import 'vars';
@import 'reset';
@import 'global';
@import 'fonts';

// start header
.header {
  background-color: $background;
  // background-color: #4A6382;
  padding: 20px 0;
  position: absolute;
  z-index: 10;
  // top: 40px;
  left: 0;
  right: 0;

  // &::after {
  //   position: absolute;
  //   content: "";
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   height: 1px;
  //   @include border;
  // }

  // &::before {
  //   position: absolute;
  //   content: "";
  //   bottom: 0;
  //   right: 0;
  //   left: 0;
  //   height: 1px;
  //   @include border;
  // }
}



.header__fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  animation-name: show_header;
  animation-duration: 1s;
  z-index: 100;
}

@keyframes show_header {
  0% {
    opacity: 0;
    top: -70px
  }

  100% {
    opacity: 1;
    top: 0;
  }
}




.header__logo {
  // padding-right: 200px;
  margin-right: 20px;
  width: 178px;
  height: 44px;

  img {
    // position: absolute;
    // top: -5px;
    width: 178px;
    height: 44px;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  display: inline-block;
  transition: all .3s;

  &:hover {
    color: $contrast;
  }

  +.menu-list {
    margin-left: 28px;
  }
}

.menu-list__link-drop {
  position: relative;
  padding-right: 20px;


  &::before {
    position: absolute;
    content: '';
    border: 7px solid transparent;
    border-top: 8px solid $white;
    top: 7px;
    right: 0px;
  }

  &:hover {
    &::before {
      content: '';
      border-top: 8px solid #abcfff !important;
    }
  }
}

.menu-list__link-menu {
  display: none;
  position: absolute;
  left: -20px;
}

.menu-list__link.menu-list__link-menu {
  &:hover {
    color: $contrast;
  }
}

.menu-list__link-drop {
  position: relative;

  &:hover {
    .menu-list__link-menu {
      display: block;
      color: $white;
      padding-top: 20px;
      padding-left: 20px;
      border-radius: 5px;
      background-color: $background;
    }
  }
}

.menu-list__link-menu--link {
  transition: all .3s;
}

.menu-list__link-menu--list {
  width: 280px;
  margin-bottom: 15px;

  &:hover {
    .menu-list__link-menu--link {
      color: #abcfff;
    }
  }
}

.mob-menu__contacts-link {
  transition: all .3s;
  display: block;

  &:hover {
    color: $contrast;
  }
}

.menu__btn {
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 100;
  display: none;
  // background-color: $contrast;
  padding-top: 4px !important;
  border-radius: 5px;
  // border: 1px solid $contrast;
  z-index: 3;

  &.active {
    .row {
      height: 3px;
    }

    .row1 {
      transform: rotate(45deg);
      position: relative;
      top: 8px;
      background-color: $white;
      transition: all .5s ease 0s;
    }

    .row2 {
      transform: rotate(-45deg);
      position: relative;
      top: -1px;
      background-color: $white;
      transition: all .5s ease 0s;
    }

    .row3 {
      opacity: 0;
    }
  }
}

.row {
  width: 25px;
  background-color: $white;
  height: 3px;
  border-radius: 5px;
  display: block;
  margin-bottom: 6px;
  margin-top: 6px;
  transition: all .3s;
  margin: 6px auto;
}

.mob-menu {
  display: none;
}


.header__contants {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  margin-right: 30px;
}

.social__list {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3), -3px -3px 3px 0 rgba(161, 180, 204, 0.3), inset 3px 3px 3px 0 rgba(0, 0, 0, 0.3), inset -3px -3px 3px 0 rgba(161, 180, 204, 0.3);
  background-color: $background;
  transition: all .3s;

  &:hover {
    .social__list-link {
      svg {
        path {
          fill: $contrast;
        }
      }
    }
  }

  +.social__list {
    margin-left: 20px;
  }

  img {
    width: 20px;
    height: 18px;
  }
}

.social__list {
  &:hover {
    // box-shadow: 0 0 10px 0 #abcfff;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3), -3px -3px 3px 0 rgba(171, 207, 255, 0.4), inset 3px 3px 3px 0 rgba(0, 0, 0, 0.3), inset -3px -3px 3px 0 rgba(171, 207, 255, 0.4);
  }
}



.social__list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

// end header


// start main-screen
.main-screen {
  padding-top: 80px;
  width: 100%;
  // height: 100%;
  margin-top: 84px;
  height: 90vh;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
  position: relative;

}

.main-screen__title {
  @extend %Bold;
  font-size: 96px;
  text-transform: uppercase;
  letter-spacing: -6px;
  line-height: 120px;
  margin-bottom: 30px;
}

.main-screen__subtitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.main-screen__box {
  margin-bottom: 50px;
}

// end main-screen


// start section main-services
.main-services__inner {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 6fr;

}

.main-services__item {
  // background-color: #fff;
  height: 496px;
  border-radius: 5px;
  // padding: 50px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3), -3px -3px 3px 0 rgba(161, 180, 204, 0.3), inset 3px 3px 3px 0 rgba(0, 0, 0, 0.3), inset -3px -3px 3px 0 rgba(161, 180, 204, 0.3);
  background-repeat: no-repeat;
  // background-size: cover;
  background-size: 100% 100%;
  background-position: center;
  transition: all .3s;
  cursor: pointer;

  &:hover {
    background-size: 110% 110%;

    .main-services__other {
      color: $contrast;
    }
  }
}

.main-services-bg {
  background: linear-gradient(180deg, #213b5e 0%, rgba(33, 59, 94, 0.3) 100%);
  height: 100%;
  padding: 50px;
}

.main-services__item-big {
  height: 100%;
  // background-color: red;
}

.main-services__item-one {
  grid-row-start: span 3;
}

.main-services__item-two {
  grid-row-start: span 2;
}

.main-services__item-three {
  grid-row-start: span 2;
}

.main-services__item-fov {
  grid-row-start: span 3;
}

.main-services__item-five {
  grid-row-start: span 2;
}

.main-services__number {
  margin-bottom: 10px;
}

.main-services__title {
  @extend %Bold;
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: -2px;
}

.main-services__other {
  padding-right: 20px;
  position: relative;
  width: fit-content;
  transition: all .3s;

  &::before {
    position: absolute;
    content: '';
    background-image: url('../images/icons/arrow-services.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15px;
    height: 7px;
    right: 0;
    top: 7px;
  }
}

// end section main-services


// start section main-company
.main-company {
  .container {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 950px;
      height: 235px;
      background-image: url('../images/icons/iforce.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

.main-company__descr {
  margin-bottom: 30px;
}

.main-company__title {
  padding-top: 130px;
}

// end section main-company

.slider-services {
  max-width: 2500px;
  margin: 0 auto;
}

.slider-services__descr {
  margin-bottom: 30px;
}

.product__box-wrapper {
  background-repeat: no-repeat;
  background-size: auto 80%;
  background-position: bottom left;
  padding-bottom: 20px;
  margin-bottom: 70px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product {
  padding-top: 0;
}

.product__item {


  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product__wrapper {
  display: flex;
  justify-content: flex-start;
  // margin-bottom: 60px;
  margin-bottom: 30px;
  // gap: 15px;
}

.slider-for {
  max-width: 700px;
  width: 100%;
}

.product1-img {
  width: 700px;
  height: 490px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 3px;
}

.product__box {
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.product__box-title {
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.product__text {
  margin-bottom: 20px;
  // color: $light-brown;
}

.product__inner {
  width: 100%;
  margin-bottom: 5px;
}

.product__inners {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 18px;
    border-bottom: 1px dashed rgba(0, 224, 255, 0.5);
    ;
  }
}

.slider-nav__wrapper {
  position: relative;
  margin-bottom: 30px;
  padding: 0 60px;

  .slick-prev {
    position: absolute;
    top: 43%;
    transform: translate(0, -50%);
    left: 0px;
    z-index: 1;
  }

  .slick-next {
    position: absolute;
    top: 43%;
    transform: translate(0, -50%);
    right: 0px;
  }
}

.product2-img {
  max-width: 250px;
  height: 150px;
  margin: 0 auto;
  border-radius: 3px;
}

.product__btn {
  margin-left: 30px;
}


// start section partners
.partners__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.partners__item {
  margin-bottom: 30px;
  max-width: 294px;
  width: 100%;
  height: 176px;
  border-radius: 5px;

  img {
    max-width: 294px;
    width: 100%;
    height: 176px;
    border-radius: 5px;
  }
}

// end section partners

// start section questions
.main-questions {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .global-btn {
    margin: 0 auto;
  }
}

.questions__inner {
  margin-bottom: 50px;
}

.questions__item {
  padding: 20px 60px;
  max-width: 1274px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  // 
  border: 1px solid $white;
  transition: all .3s;
  cursor: pointer;
  background-color: $background;
}

.questions__item.main-btn {
  box-shadow: none;

  &:hover {
    box-shadow: 0px 0px 10px rgba(255, 1255, 255, 0.5);
  }
}

.questions__wrapper {
  position: relative;
  z-index: 10;
}

.questions__item-title {
  display: flex;
  justify-content: space-between;
}

.questions__item-title--text {
  position: relative;
}

.questions__item-title--btn.active {
  transition: all .3s;

  .questions__row-1 {
    transform: rotate(45deg);
  }

  .questions__row-2 {
    transform: rotate(-45deg);
    top: 9px;
  }
}

.questions__row {
  height: 3px;
  width: 25px;
  border-radius: 10px;
  margin-left: 20px;
  transition: all .3s;
  background-color: $white;
}

.questions__row-1 {
  transform: rotate(90deg);
  position: relative;
  top: 12px;
}

.questions__row-2 {
  position: relative;
  top: 10px;
}

.questions__item-text {
  padding-top: 25px;
  display: none;
}

.questions__text-open {
  display: block;
}

// end section questions


// start section offer
.offer__inner {
  // display: flex;
  // justify-content: space-between;
  overflow: hidden;
}

@media (min-width: 1000px) {
  .offer__inner {
    display: flex;
  }
}

.offer__content {
  flex: 0 0 100%;
  display: flex;
  padding-right: 30px;
  .container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    // padding-left: 140px;
    display: flex;
    align-items: center;
  }
}

.offer__body {
  width: 50%;
}

.offer__imeage {
  img {
    max-width: 100%;
  }
}

@media (min-width: 1000px) {
  .offer__imeage {
    flex: 0 0 50%;
    transform: translate(-100%, 0px)
  }
}

// .offer__item{
//   width: 50%;
// }
.offer__descr {
  margin-bottom: 30px;
}

// .offer__item-img{
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;

// }
// end section offer





@import 'media';